* {
  font-family: "Poppins", sans-serif;
}

.conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.conteiner .hero-block {
  height: 100vh;
  width: 100%;
  background-image: url("../img/hero-block.svg");
  background-size: cover;
  background-image: radial-gradient(86.94% 263.61% at 96.08% 15.9%, rgba(0, 25, 88, 0) 0%, #000000 100%), url("../img/hero-block.svg");
}
.conteiner .hero-block .header {
  display: flex;
  justify-content: flex-end;
}
.conteiner .hero-block .header button {
  text-align: center;
  padding: 14px 50px 12px;
  margin: 38px 52px 0 0;
  border-radius: 100px;
  width: 286px;
  height: 57px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  align-items: center;
  background: #FFFFFF;
  text-transform: uppercase;
  color: #001958;
  box-shadow: noen;
}
.conteiner .hero-block .hero-block-information {
  margin: 160px;
  margin-top: 0px;
  display: flex;
}
.conteiner .hero-block .hero-block-information img {
  margin-right: 39px;
  margin-bottom: 165px;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies {
  display: flex;
  flex-flow: column wrap;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies span {
  color: #FFFFFF;
  font-family: Poppins;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies .figma_africa {
  margin-top: 115px;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies .top {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies .bottom {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies .first {
  padding-top: 20px;
  margin-top: 1px;
  line-height: 53px;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies button {
  width: 286px;
  height: 57px;
  background: #FFFFFF;
  border-radius: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: #001958;
  text-transform: uppercase;
  margin-top: 50px;
}
.conteiner .hero-block .hero-block-information .hero-block-detalies #lsa {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 12px;
}
.conteiner .conference-details {
  height: 252px;
  flex-direction: row;
}
.conteiner .conference-details h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #001958;
  padding-top: 39px;
  padding-left: 480px;
}
.conteiner .conference-details span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-right: 196px;
  color: #4F4F4F;
}
.conteiner .conference-details #countries {
  margin-left: 300px;
}
.conteiner .conference-details .numbers {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  color: #828282;
}
.conteiner .conference-details #n12 {
  margin-left: 325px;
}
.conteiner .conference-details #n30 {
  margin-left: 26px;
}
.conteiner .conference-details #n120 {
  margin-left: 7px;
}

/*# sourceMappingURL=styles.css.map */
